
{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
<!-- Feature 2 -->

<section class="feature_2 bg-light pt-105 pb-45 text-center">
	<div class="container px-xl-0">
		<div class="row justify-content-center">
			<div class="col-12 text-start mb-4">
                <div class="d-flex justify-content-between">
                    <div>
                        <h2  data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">Hire Up</h2>
                        <div class="mt-35 mb-65 f-22 color-heading text-adaptive description" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
                            Reliable Solutions for Every Corner of Your Home
                        </div>
                    </div>

                    <img srcset="i/showcase_2_img_1@2x.jpg 2x" src="{% static 'i/land.jpg' %}" class="radius10 img-fluid" width="400" height="
300" alt="" />

                </div>


			</div>
			<div class="col-xl-10">
				<div class="row justify-content-center">
					<div class="mb-50 col-md-4 col-sm-8" data-aos-duration="600" data-aos="fade-down" data-aos-delay="600">
						<div class="mb-20 f-18 medium title">For Freelancers<br /></div>
						<div class="color-heading text-adaptive">
							Accept your own gigs <br/> at your own convinience
						</div>
						<a href="#" class="mt-30 btn sm w-40 border-transparent-main"><i class="fas fa-angle-right"></i></a>
					</div>
					<div class="mb-50 col-md-4 col-sm-8" data-aos-duration="600" data-aos="fade-down" data-aos-delay="900">
						<div class="mb-20 f-18 medium title">Safe and Reliable</div>
						<div class="color-heading text-adaptive">
                            comfortable solution with<br />
							privacy in the mind.
						</div>
						<a href="#" class="mt-30 btn sm w-40 border-transparent-main"><i class="fas fa-angle-right"></i></a>
					</div>
					<div class="mb-50 col-md-4 col-sm-8" data-aos-duration="600" data-aos="fade-down" data-aos-delay="1200">
						<div class="mb-20 f-18 medium title">Full Control</div>
						<div class="color-heading text-adaptive">
							Easily change and tweak your <br />
							needs and necessities, <br />
							for your convinience .
						</div>
						<a href="#" class="mt-30 btn sm w-40 border-transparent-main"><i class="fas fa-angle-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Content 2 -->



<!-- Pricing Table 2 -->

<section class="pricing_table_2 bg-light pt-80 pb-70 text-center">
	<div class="container px-xl-0">
		<div class="f-14 semibold text-uppercase sp-20 color-heading" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">Pricing Plan</div>
		<h2 class="mt-15 mb-55 small" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">Clear &amp; Simple</h2>
		<div class="row justify-content-center no-gutters">
			<div class="col-xl-10">
				<div class="row justify-content-center">
					<div class="col-lg-3 col-md-5 col-sm-6 mb-70 mb-lg-0 block" data-aos-duration="600" data-aos="fade-down" data-aos-delay="0">
						<div class="f-22 title">Free</div>
						<div class="mt-10 color-heading subtitle">No Subscription Charge</div>
						<div class="mx-auto mt-25 bg-gray f-62 lh-130 color-heading w-130 h-130 radius_full">
							<i class="fas fa-bolt"></i>
						</div>

						
					</div>
					<div class="col-lg-3 col-md-5 col-sm-6 mb-70 mb-lg-0 block" data-aos-duration="600" data-aos="fade-down" data-aos-delay="300">
						<div class="f-22 title">Select your Task</div>
						<div class="mt-10 color-heading subtitle">Select one of our services</div>
						<div class="mx-auto mt-25 bg-gray f-62 lh-130 color-heading w-130 h-130 radius_full">
							<i class="fas fa-bomb"></i>
						</div>

					</div>
					<div class="col-lg-3 col-md-5 col-sm-6 mb-70 mb-sm-0 block" data-aos-duration="600" data-aos="fade-down" data-aos-delay="600">
						<div class="f-22 title">Choose Provider</div>
						<div class="mt-10 color-heading subtitle">Choose your provider from our variety of range.</div>
						<div class="mx-auto mt-25 bg-gray f-62 lh-130 color-heading w-130 h-130 radius_full">
							<i class="fas fa-heart"></i>
						</div>

					</div>
					<div class="col-lg-3 col-md-5 col-sm-6 block" data-aos-duration="600" data-aos="fade-down" data-aos-delay="900">
						<div class="f-22 title">Fix Time and Date</div>
						<div class="mt-10 color-heading subtitle">Take an Appointment !</div>
						<div class="mx-auto mt-25 bg-gray f-62 lh-130 color-heading w-130 h-130 radius_full">
							<i class="fas fa-building"></i>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>




{% endblock %}