{% load static %}
<!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>About Us<br></h2>
        <p>a team of licensed and experienced professionals, committed to providing top-notch home services to keep your living space in perfect condition</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3>HireUp – Your trusted partner in home maintenance and improvement.</h3>
            <img src="{% static 'img/about.jpg' %}" class="img-fluid rounded-4 mb-4" alt="">
              <p>At HireUp, we believe that your home is your sanctuary, and keeping it in top shape should be simple, hassle-free, and affordable. With years of experience in providing high-quality home services, we’ve built a reputation for reliability, professionalism, and exceptional customer care.</p>

              <p>Our team of skilled professionals specializes in a wide range of home maintenance and improvement services, from plumbing and electrical repairs to landscaping and deep cleaning. Each member of our team is certified, insured, and trained to meet the highest industry standards, ensuring that every job is done right the first time.</p>

              <p>We know that no two homes are the same, which is why we tailor our services to meet your specific needs. Whether it’s a quick repair, a full renovation, or routine maintenance, we are dedicated to providing solutions that enhance the comfort, safety, and value of your home.</p>



          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="250">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
               At HireUp, customer satisfaction is our top priority. We believe in transparent pricing, clear communication, and delivering on our promises. Our goal is to build long-lasting relationships with our clients by consistently exceeding expectations.
              </p>
              <ul>







                <li><i class="bi bi-check-circle-fill"></i> <span>Trusted professionals with years of experience.</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>Comprehensive services for every part of your home.</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>Fast, reliable, and affordable solutions</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>Tailored services designed to fit your needs</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>100% satisfaction guaranteed</span></li>
              </ul>
              <p>
                Let us take care of your home so you can focus on what matters most.
              </p>

              <div class="position-relative mt-4">
                <img src="{% static 'img/about-2.jpg' %}" class="img-fluid rounded-4" alt="">
                <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->