<!-- Services Section -->
        <section id="services" class="services section">

          <!-- Section Title -->
          <div class="container section-title" data-aos="fade-up">
            <h2>Our Services</h2>

              {% if  user.is_completed is False %}
                        <div class="alert alert-danger" role="alert">

                          Profile is not Complete please complete the required information first.
                        </div>
                {% endif %}
            <p>List of out current services</p>
          </div><!-- End Section Title -->

          <div class="container">

            <div class="row gy-4">

                {% for service in services %}

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="service-item  position-relative">
                          <div class="icon">
                            <i class="bi bi-activity"></i>
                          </div>
                          <h3>{{ service.name }}</h3>
                          <p>{{ service.category }}</p>
                          <a href="{% url 'services' service.id %}" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
                        </div>
                      </div><!-- End Service Item -->

                {% endfor %}

            </div>

      </div>

    </section><!-- /Services Section -->