<div class="tab-pane fade show active profile-overview" id="profile-overview">

                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                    <div class="col-lg-9 col-md-8">{{ user.first_name }} {{ user.last_name }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Company</div>
                    <div class="col-lg-9 col-md-8"> {{ user.profession}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Covid Vaccinated: </div>
                    <div class="col-lg-9 col-md-8"> {{ user.C19Vaccinated|yesno:"Yes,No" }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Date of Birth:</div>
                    <div class="col-lg-9 col-md-8">{{ user.dob|date:"d M Y" }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Country: </div>
                    <div class="col-lg-9 col-md-8">{{ user.country.name }} </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Username</div>
                    <div class="col-lg-9 col-md-8">{{ user.username }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{ user.email }}</div>
                  </div>


                <div class="row">
                    <div class="col-lg-3 col-md-4 label">Address</div>
                    <div class="col-lg-9 col-md-8">{{ user.address }}</div>
                  </div>

                </div>